@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

body
{
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;
	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	
	margin-top: 70px;
}
h1, h2, h3, h4, h5, h6
{
	font-family:"Raleway";
	font-weight: 300;
	color: #333;
}
p
{
	line-height: 28px;
	margin-bottom: 25px;
}
.centered
{
	text-align: center;
}
h3
{
	color: #0000FF;
}
h3:hover
{
	color: #6B8E23;
}
.fh3 h3
{
	text-align: center;
	color: #7CFC00;	
}
.fh3 h3:hover
{
	color: #9932CC;
}
a
{
	color: #f85c37;
}
a:hover, a:focus
{
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}
hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.navbar
{
	font-weight:800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-inverse
{
	background: #2b2b2b;
	border-color: #2b2b2b;
}
.navbar-inverse .navbar-nav > .active > a 
{
	background-color: #ff7878;
}
.navbar-inverse .navbar-brand
{
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}
#headerwrap
{
	background: url(../img/H5TP8QWodh8.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 150px;
	width: 100%;
	background-size: 100%;
	background-size: cover;
}
#headerwrap h1
{
	margin-top: 50px;
	color: #7FFFD4;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 3px;
}
#footer
{
	background: #ff7878;
	padding-top: 30px;
	padding-bottom: 20px;
}
#footer i
{
	color: #00FFFF;
	font-size: 30px;
	padding: 20px;
}
#footer i:hover
{
	color: #9932CC;
}
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

